<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InfoPasso1" value="Selecione as entidades para gerar código fonte..." />
    <add key="InfoPasso2" value="Informe o caminho do arquivo de template, o pasta destino e um nome lógico para o fonte gerado." />
    <add key="defaultInput" value="Templates2"/>
    <add key="defaultOutput" value="Saida"/>
    <add key="TiposTextuais" value="Texto"/>
    <add key="TamanhoPadraoTexto" value="10"/>
  </appSettings>  
</configuration>